<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../paper-input/paper-input.html">
  <link rel="import" href="/paper-button/paper-button.html">
</head>
<body>
    <form is="iron-form" id="form" method="post" action="/login">
        <paper-input label="email"></paper-input>
        <paper-input label="password"></paper-input>
        <div align="center">
            <paper-button raised onclick="submitForm()">Log in</paper-button>
        </div>
    </form>
    <script>
        function submitForm() {
            document.getElementById('form').submit();
        }
    </script>
</body>
</html>
